<div class="card-component">
  <kendo-grid
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="id"
    [selectedKeys]="mySelection"
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [groupable]="true"
    [reorderable]="true"
    [resizable]="true"
    [height]="480"
    [columnMenu]="{ filter: true }"
    (add)="addHandler($event)"
    (cellClick)="editHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand *ngIf="!formGroup">Add new</button>
      <div *ngIf="formGroup">
        <button
          kendoButton
          [disabled]="!formGroup.valid"
          (click)="saveCurrent()"
        >
          Save
        </button>
        <button kendoButton themeColor="primary" (click)="cancelHandler()">
          Cancel
        </button>
      </div>
    </ng-template>
    <kendo-grid-column-group
      *ngIf="!loading"
      [title]="customMsgService.translate('zones')"
      [columnMenu]="false"
    >
      <kendo-grid-column
        field="name"
        [title]="customMsgService.translate('contactName')"
        [width]="220"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="created_at"
        [title]="customMsgService.translate('createdAt')"
        [width]="100"
        [class]="{ 'text-center': true }"
        [resizable]="false"
      >
        <ng-container>
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.created_at | date }}
          </ng-template>
        </ng-container>

        <!-- <ng-template kendoGridCellTemplate let-dataItem>
          <img class="flag" [src]="flagURL(dataItem)" width="30" />
        </ng-template> -->
      </kendo-grid-column>
      <kendo-grid-column
        field="updated_at"
        [title]="customMsgService.translate('updatedAt')"
        [width]="100"
        [class]="{ 'text-center': true }"
        [resizable]="false"
        filter="boolean"
      >
        <ng-container>
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.updated_at | date }}
          </ng-template>
        </ng-container>
      </kendo-grid-column>
    </kendo-grid-column-group>

    <!-- TODO - add loading spinner -->
    <!-- <ng-template #spinner>
      <div class="k-block">
        <kendo-loader
          [type]="loader.type"
          [themeColor]="loader.themeColor"
          [size]="loader.size"
        >
        </kendo-loader>
      </div>
    </ng-template> -->
    <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
  </kendo-grid>
</div>
