// Global variables here
$background-color: #d4d6e4;
$info-background: #151950;
$angular-color: #e21e36;
$link-color: #71a6ff;
$white: #ffffff;

$tiger-team: #9dff00;
$lemon-team: #ffd246;
$organic-team: #55ab1d;
$ocean-team: #28b4c8;

// $secondary: #4aff09 !important;
// $primary: #4aff09;

$border-radius: 2px;
$primary-palette-name: brown;
$secondary-palette-name: amber;
$theme-type: light;
$adjust-contrast: true;
