<!-- <div [formGroup]="form" ftwpMarkForCheckOnTouchedChanges>
  <kendo-formfield orientation="horizontal" class="full-width">
    <kendo-label>Email</kendo-label>
    <input [formControlName]="emailControlName" [readonly]="isEmailExist()" matInput type="email">
    <mat-error *ngIf="form.get(emailControlName)?.errors | controlErrors as controlError">
      {{controlError}}
    </mat-error>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal" class="full-width">
    <kendo-label>Password</kendo-label>
    <input [formControlName]="passwordControlName" matInput [type]="hidePassword ? 'password' : 'text'"
           data-private>
    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            matTooltip="Hide password" [attr.aria-pressed]="hidePassword" ftwpStopPropagation>
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get(passwordControlName)?.errors | controlErrors as controlError">
      {{controlError}}
    </mat-error>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal" *ngIf="hasPasswordConfirmation" class="full-width">
    <kendo-label>Confirm Password</kendo-label>
    <input [formControlName]="passwordConfirmationControlName" matInput
           [type]="hidePasswordConfirmation ? 'password' : 'text'" data-private>
    <button type="button" mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation"
            matTooltip="Hide password" [attr.aria-pressed]="hidePasswordConfirmation" ftwpStopPropagation>
      <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get(passwordConfirmationControlName)?.errors | controlErrors as controlError">
      {{controlError}}
    </mat-error>
  </kendo-formfield>
</div> -->
